html
/bitrix
/upload
/test
local/php_interface/log.txt
local/php_interface/ym_log.txt
.htaccess
.htpasswd
robots.txt
*.tar.gz
.DS_Store
log.txt
ym_log.txt
favicon.png
sitemap*
sitemap*.xml
sitemap.xml
.favorites.json
/.vscode
/_old
/_temp